SharpScrapeKit/bin/*
SharpScrapeKit/obj/*
SharpScrapeKit/.vs/ScrapeKit/FileContentIndex/ace4014d-6692-4bd6-8264-e454b71bad39.vsidx
SharpScrapeKit/.vs/ScrapeKit/FileContentIndex/read.lock
SharpScrapeKit/.vs/ScrapeKit/FileContentIndex/write.lock
SharpScrapeKit/.vs/ScrapeKit/FileContentIndex/94b40d73-5af9-4c4d-b022-6267351b5585.vsidx
